asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.13
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-decouple==3.8
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
gunicorn==23.0.0
channels>=4.2.0
daphne>=4.1.0
channels-redis>=4.2.0
